# 🐍 Python
__pycache__/
*.py[cod]
.venv/

# 🔐 Secrets
.env
.env.*

# 🧪 Tests
.pytest_cache/
.coverage

# 🧹 Ruff
.ruff_cache/

# 🧠 Éditeurs & OS
.vscode/
.idea/
.DS_Store

# 📦 Poetry (config locale)
poetry.toml
