{% extends "base.html" %}

{% block title %}Write an Article - DevJournal{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('assets', filename='css/article.css') }}">
{% endblock %}

{% block content %}
    <header>
        <a href="{{ url_for('article.list_articles') }}" class="pagination-link">
            <span class="material-symbols-outlined">arrow_back</span>
            <span>Back to articles</span>
        </a>
    </header>

    <div class="article-form-container">
        <div id="root" data-page="create"></div>
    </div>
{% endblock %}
